* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(4, 20vmin);
    /* margin: 5vw; */
    justify-content: center;
    grid-gap: 3vmin;
    margin-top: 6vmin;
}

.grid-item {
    border: 0.3vmin solid gray;
    /* margin: 1vw; */
    /* text-align: center; */
    border-radius: 1.5vmin;
    cursor: pointer;
    background-color: #111111;
    background-size: contain;
}